html{
    height:100%;
}

body {
    height:100%;
    background: linear-gradient(green,white);
    }
.heading {
    text-align: center;
}
.content{
    width: 50%;
    float: left;
}
.images{
    width: 50%;
    float: right;
}