html{
    height:100%;
}

body {
    height:100%;
    margin: 0;
    background: linear-gradient(green,white);
    background-attachment: fixed;    
}
.heading {
    text-align: center;
}
.content{
    width: 50%;
    float: left;
}
.images{
    width: 50%;
    float: right;
}