html{
    height:100%;
}

body {
    height:100%;
    background: linear-gradient(green,white);
    background-attachment: fixed;    
}
.heading {
    text-align: center;
    margin-bottom: 30px;
}
.content{
    width: 47%;
    float: left;
    margin-right: 3%;
    font-size: 18px;

}
.content-presentation{
    width: 30%;
    float: left;
    margin-right: 3%;
    font-size: 18px;
}
li{
    margin-top:15px;
}
.images{
    float: left;
}